<!DOCTYPE html>
<html>

<div id="homeContainer">
    
    <div id="requestForm" ng-controller="newRequestController">
        <div id="newRequestLabel">
        	<div id="newRequestLabelDiv" >
	        	<form name="dBConnectionForm" ng-init="initDBConnection()">
		        	<fieldset id="dBConnection">
		                <legend>Connection Information</legend>
		                <p>
		                    <span class="headerLabel">Database Vendor: </span>
		                    <span class="headerValue">
		                    
		                    	<select required="required" ng-model="requestVO.moduleVO.databaseVendorId" ng-change="connectionChecked = false">
		                    		<option value="">Select One</option>
		                    		<option ng-repeat="domain in requestForm.dbTypes" value="{{domain.id}}">{{domain.key}}</option>	                    		
		                    	</select>                      
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Server (IP/ Name): </span>
		                    <span class="headerValue">                    	
		                        <input required="required" ng-model="requestVO.moduleVO.dbServerName" ng-change="connectionChecked = false"/>
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Port Number : </span>
		                    <span class="headerValue">
		                        <input required="required" ng-model="requestVO.moduleVO.dbPortNumber" type="number" ng-change="connectionChecked = false"/>
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Database Name : </span>
		                    <span class="headerValue">
		                        <input required="required" ng-model="requestVO.moduleVO.dataBaseName" ng-change="connectionChecked = false"/>
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">User Name : </span>
		                    <span class="headerValue">
		                        <input required="required" ng-model="requestVO.moduleVO.dbUserName" ng-change="connectionChecked = false"/>
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Password : </span>
		                    <span class="headerValue">
		                        <input type="password" ng-model="requestVO.moduleVO.dbPassword" required="required" ng-change="connectionChecked = false"/>
		                    </span>
		
		                </p>
		                
						<div class="centeredButton">
							<button class="btn button" type="button" ng-click="testConnection('dBConnectionForm')">Test Connection</button>
			                <button class="btn button" type="reset" >Clear</button>
			                <button class="btn button" type="button" id="section1Next" ng-click="gotoSection2('dBConnectionForm')" ng-disabled="!connectionChecked">Next</button>			                
			            </div>
		            </fieldset>
	            </form>
	        </div>
	        <div id="elasticInfoDiv" class="hide">
	        	<form name="elasticInfoForm">
		            <fieldset id="elasticInfo">
		            	<legend>Elastic Information</legend>
		            	<p>
		                    <span class="headerLabel">Project Name : </span>
		                    <span class="headerValue">
		                    	<select required="required" ng-model="requestVO.projectId">
		                    		<option value="">Select One</option>
		                    		<option ng-repeat="domain in requestForm.availableProjects" value="{{domain.id}}">{{domain.key}}</option>
		                    	</select>
		                    </span>
		                    <span class="headerValue">
		                    	<label>Used as Index Name in Elastic Searh Engine</label>
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Query Name : </span>
		                    <span class="headerValue">
		                        <input id="queryName" class="mandatory" required="required" pattern="[a-z]+" ng-model="requestVO.queryName" ng-change="queryChecked = false"/>
		                    </span>
		                    <span class="headerValue">
		                    	<label>Used as Type Name in Elastic Searh Engine</label>
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Query : </span>
		                    <span class="headerValue">
		                        <textarea id="query" required="required" rows="5" ng-model="requestVO.query" ng-change="columnMapped = false" cols="30" 
		                        	ng-blur="columnMapped = false"></textarea>
		                    </span>
		                </p>
		                <div ng-show="requestVO.columnMapping.length > 0" style="margin-bottom: 10px;">
			                   <span class="headerLabel">Column Mapping : </span>
			                   <div align="center">
				                   <table  ng-show="requestVO.columnMapping.length > 0">
				                   		<thead>
				                   			<tr>
				                   				<td width="5%">Id Column</td>
				                   				<td width="20%">Column Name</td>
				                   				<td width="25%">Elastic DataType</td>
				                   				<td width="10%">Analyzed</td>
				                   				<td width="10%">Analyzer Type</td>
				                   			</tr>
				                   		</thead>
				                   		<tbody>	                   
											<tr ng-repeat="column in requestVO.columnMapping">
												<td><input type="radio" name="idColumn" ng-model="requestVO.idColumn" value="{{column.columnName}}" 
														ng-checked="requestVO.idColumn" required="required" /> </td>
												<td>{{column.columnName}}</td>
												<td><select name="queryDataType" required="required" ng-model="column.queryDataType">
														<option value="">Select One</option>
														<option ng-repeat="domain in requestForm.dataTypeList" value="{{domain.id}}">{{domain.value}}</option>
													</select>
												</td>
												<td>
													<input type="checkbox" ng-checked="column.analysed"
														ng-model="column.analysed" ng-required = "requestVO.idColumn == column.columnName"/>
												</td>
												<td><select name="queryAnalyserType" ng-required="column.analysed" ng-model="column.queryAnalyserType" ng-show="column.analysed">
														<option value="">Select One</option>
														<option ng-repeat="domain in requestForm.analyserList" value="{{domain.id}}">{{domain.value}}</option>
													</select>
												</td>												
											</tr>	                   			
				                   		</tbody>
				                   </table>
			                   </div>
						</div>
						<div  class="centeredButton">
							<button class="btn button" type="button" id="section2Back" ng-click="gotoSection1('elasticInfoForm', true)">Back</button>
							<button class="btn button" type="button" id="section2Back" ng-click="checkUniqueName()">Check Unique Name</button>
							<button class="btn button" type="button" id="section2Back" ng-click="fetchColumnMapping('elasticInfoForm')">Fetch Column Mapping</button>
							<button class="btn button" type="reset" >Clear</button>
			                <button class="btn button" type="button" id="section2Next" ng-click="gotoSection3('elasticInfoForm')" 
			                	ng-disabled="!queryChecked || !columnMapped">Next</button>
			            </div>
		            </fieldset>
		     	</form>
	         </div>
	         <div id="QueryTypeDiv" class="hide">
	         	<form name="QueryTypeForm">                 
		            <fieldset id="QueryType">
		                <legend>Query Information</legend>
		                
		                <p>
		                    <span class="headerLabel">Query Type : </span>
		                    <span class="headerValue">
			                    <select required="required" name="queryType" ng-model="requestVO.queryType">
		                    		<option value="">Select One</option>
		                    		<option ng-repeat="domain in requestForm.queryTypes" value="{{domain.id}}">{{domain.value}}</option>
		                    	</select>                    
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Frequency : </span>
		                    <span class="headerValue">
		                    	<select required="required" name="updateFreq" ng-model="requestVO.updateFreq">
		                    		<option value="">Select One</option>
		                    		<option ng-repeat="domain in requestForm.updateFreqList" value="{{domain.id}}">{{domain.value}}</option>
		                    	</select>
		                    </span>
		                </p>
		                <p>
		                    <span class="headerLabel">Email Notification : </span>
		                    <span class="headerValue">
		                    	<input id="emailNotification" class="mandatory" required="required" ng-model="requestVO.emailNotification" type="email"/>
		                    </span>
		                </p>
		            </fieldset>
		            <div class="centeredButton">
						<button class="btn button" type="button" id="section3" ng-click="gotoSection2('QueryTypeForm', true)">Back</button>
		                <button class="btn button" type="reset" >Clear</button>
		                <button class="btn button" type="button" ng-click="saveRequest('QueryTypeForm')">Save</button>		                
		            </div>
		        </form>
				
			</div>            
        </div>
    </div>
</div>
</html>