.headerLabel{
    display: inline-block;
    width:15%;
    margin-left: 15%;
    white-space: nowrap;
}
.headerValue{
    display: inline-block;
    margin-left: 5%;
	white-space: nowrap;
}

#homeContainer {
    background-color: cornsilk;
}