#homeContainer{
    left: 10%;
    width:80%;
    display: inline;
}

#newRequest{
    float: left;
    min-width: 50%;
    background-color: cornsilk;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#updateRequest{
    min-width: 50%;
    background-color: seashell;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}