#homeContainer{
    width:100%;
    display: inline;
}

#newRequest{
    min-width: 50%;
    background-color: cornsilk;
    float: left;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#updateRequest{
    min-width: 50%;
    background-color: seashell;
    text-align: center;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}