@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: Roboto;
    font-size: 12pt;
}

header{
    width: 100%;
    height: 10%;
}

div#logo{
    float: left;
    left:15%
}
div#appName{
    text-align: center;
    left : 25%;
}

div#user{
    float: right;
    align-content: flex-end;
    right: 5%;
}

footer{
    width: 100%;
    height:5%;
}
div#copyright{
    left : 10%;
    text-align: left;
}

div#credits{
    left : 70%;
    text-align: right;
}

div#pagecontent{
    width:100%;
    overflow: scroll;
    height:85%;
}

