@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: Roboto;
    font-size: 12pt;
}

header{
    width: 100%;
    height: 10%;
    display: inline;
}

#header{
    display: flex;
}
span#logo{
    float: left;
    left:15%;
    width:25%;
    display: inline;
}
span#appName{
    text-align: center;
    left : 25%;
    width: 50%;
}

span#user{
    text-align: right;
    width: 25%;
    display: inline-block;
}

footer{
    width: 100%;
    height:5%;
    display: inline;
}

#footer{
    display: inline;
}

span#copyright{
    left : 10%;
    text-align: left;
    float: left;
}

span#credits{
    text-align: right;
    float: right;
}

div#pagecontent{
    width:100%;
    height:85%;
}

